.fieldbox {
    -fx-background-color: rgb(111, 0, 255);
    -fx-background-radius: 8px;
}

.fieldbox:hover {
    -fx-background-color: rgb(59, 2, 112);
}

.button {

}

.main-button {
    -fx-background-color: rgb(59, 2, 112);
    -fx-background-radius: 8px;
    -fx-border-style: none;
    -fx-text-fill: white;
    -fx-font-size: 18px;
    -fx-font-weight: bold;
}

.background-button {
    -fx-background-color: rgb(111, 0, 255);
    -fx-background-radius: 8px;
    -fx-border-style: none;
    -fx-text-fill: white;
    -fx-font-size: 18px;
    -fx-font-weight: bold;
}

.date-picker {
    -fx-background-color: white;
    -fx-border-color: rgb(59, 2, 112);
    -fx-border-width: 2px;
    -fx-border-radius: 6;
    -fx-background-radius: 6;
    -fx-background-insets: 1 1 1 1;
}

.date-picker > .text-field {
    -fx-background-color: transparent;

    -fx-border-color: transparent;
    -fx-text-fill: rgb(59, 2, 112);
    -fx-alignment: center;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
}

.date-picker .arrow-button {
    -fx-background-color: white;
    -fx-cursor: hand;
    -fx-border-color: rgb(59, 2, 112);
    -fx-border-width: 0 0 0 2;
    -fx-padding: 0 8 0 8;
}

.date-picker .arrow-button:hover {
    -fx-background-color: rgb(233, 179, 251);

}

.date-picker-popup {
    -fx-background-color: white;
    -fx-background-radius: 7;
    -fx-border-color: rgb(59, 2, 112);
    -fx-border-radius: 6;
    -fx-border-width: 2px;
    -fx-padding: 0 0 0 0;
}

.date-picker-popup .month-year-pane {
    -fx-background-color: rgb(59, 2, 112);
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-border-color: rgb(59, 2, 112);
}

.date-picker-popup .month-year-pane .label {
    -fx-background-color: rgb(59, 2, 112);
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

.date-picker-popup .day-cell {
    -fx-background-color: white;
    -fx-text-fill: rgb(59, 2, 112);
}

.date-picker-popup .day-cell:hover {
    -fx-background-color: rgb(111, 0, 255);
    -fx-text-fill: white;
}

.date-picker-popup .day-cell:selected {
    -fx-background-color: rgb(111, 0, 255);
    -fx-text-fill: white;
}